In [1]:
import pandas as pd
import bokeh.plotting as bp
import datetime
import time

#bp.output_notebook()

In [11]:
import plotly.plotly as py
from plotly import tools
import plotly.graph_objs as gph

In [2]:
times = pd.read_csv('task_history.csv', header=None, names=('activity', 'date','time'))

In [3]:
times.head(5)

         activity        date  time
0         pushups  10-04-2015    30
1   clean up desk  10-04-2015   360
2  take out trash  10-04-2015   600
3          dishes  10-04-2015  1200
4     take out ac  10-04-2015   300

In [4]:
dates = times.date.unique()

In [6]:
def timestamp(d):
    return time.mktime(datetime.datetime.strptime(d, '%m-%d-%Y').timetuple())

In [32]:
d1 = times[dates[2] == times['date']]
d1.date = d1.date.apply(timestamp)

/Users/wgillis/anaconda/lib/python3.4/site-packages/pandas/core/generic.py:2177: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
d1.head(2)

                            activity        date  time
33                            Shower  1444104000   900
34  Respond to Erick about lab stuff  1444104000   300

In [12]:
fig = bp.figure(title='Time spent in day')

In [13]:
from bokeh.charts import Bar, show

In [102]:
import seaborn as sns

In [34]:
td1 = d1.date.apply(timestamp)

In [35]:
td1.head(3)

0    1443931200
1    1443931200
2    1443931200
Name: date, dtype: float64

In [34]:
ss = d1.sort('time')
ss.head(5)

                                  activity        date  time
35             write email to dg about sfn  1444104000   120
36  respond to dg about coating electrodes  1444104000   120
37                        register for sfn  1444104000   180
34        Respond to Erick about lab stuff  1444104000   300
39                                   break  1444104000   300

In [36]:

bar = gph.Bar(x=ss.activity, y=ss.time/60)
data = gph.Data([bar])
layout = gph.Layout(
    title='{} Trello activity list'.format(dates[2]),
    yaxis=gph.YAxis(title='Minutes of task'))
fig = gph.Figure(data=data, layout=layout)
py.iplot(fig, filename='{} activities'.format(dates[2]))

In [37]:
bars = []
for i in d1.index:
    bars += [gph.Bar(x=datetime.datetime.fromtimestamp(d1.date[i]).strftime('%m-%d-%Y'), 
                     y=d1.time[i]/60, name=d1.activity[i])]
    
layout2 = gph.Layout(
    barmode= 'stack',
    title='{} actvitiy total'.format(dates[2]),
    yaxis=gph.YAxis(title='Task time (min)'))
data2 = gph.Data(bars)
fig2 = gph.Figure(data=data2, layout=layout2)
py.iplot(fig2, filename='{} activity stack'.format(dates[2]))

In [23]:
Figure

pandas.core.series.Series

In [116]:
bar = gph.Bar(x=d1.activity, y=d1.time/60)
data = gph.Data([bar])
layout = gph.Layout(
    title='10-4-2015 Total activity count',
    yaxis=gph.YAxis(title='Minutes of task'),
    barmode='stack')
fig = gph.Figure(data=data, layout=layout)
py.iplot(fig, filename='Today\'s activities stack')

In [118]:
for i in d1.index?

In [124]:
bars = []
for i in d1.index:
    bars += [gph.Bar(x=datetime.datetime.fromtimestamp(d1.date[i]).strftime('%m-%d-%Y'), 
                     y=d1.time[i]/60, name=d1.activity[i])]
    
layout = gph.Layout(
    barmode= 'stack',
    title='10-4-2015 actvitiy total',
    yaxis=gph.YAxis(title='Task time (min)'))

data = gph.Data(bars)

fig = gph.Figure(data = data, layout=layout)
py.iplot(fig, filename='10-4-2015 activity stack')